// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#question {
  margin-bottom: 20px;
}

.ask-form {
  display: flex;
  flex-direction: column;
}

#coach {
  height: 50vh;
}

.coach-answer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

